# Python Bytecode files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env/
.venv/

# Dependency manager files
*.lock        # For uv or pipenv lock files
Pipfile.lock

# Logs
*.log

# IDE/Editor specific
.vscode/

# Operating System files
.DS_Store        # macOS
Thumbs.db        # Windows

volumes/
.gradio/

*.jpg
*.png

node_modules/
__pycache__/